
<html>
    <head>
        <title>Sign Up</title>
        <meta charset="utf_8"/>
        <link rel="stylesheet" href="SingUp2.css" />

    </head>
    <body>
    
        <h1>
            Create your account
        </h1>
        <!--<form onsubmit="myfun_1()">-->
        <form >
           <label for="f" class="a">Frist Name</label>
           <input id="f" type="text" placeholder="frist_name" class="one" ><br>
           <label for="l" class="a">Last Name</label>
           <input id="l" type="text" placeholder="last_name" class="one" ><br>
           <label for="m" >Mobil Number OR Email</label>
           <input id="m" type="text" placeholder="Enter" class="c" name="mn" maxlength="20"><br>
           
           <label >Date Of Birth</label>
           <input type="date" placeholder="Date" class="d" id="d" ><br>
           <!--<label class="a">City</label>
           <select class="o" id="c">
            <option hidden> City
            </option>
            <option>Cairo</option>
            <option>Alexandria</option> <option>Gizeh</option>
            <option>Shubra El-Kheima</option><option>Port Said</option>
            <option>Suez</option><option>Luxor</option>
            <option>al-Mansura</option><option>El-Mahalla El-Kubra</option>
            <option>Tanta</option><option>Asyut</option>
            <option>smailia</option><option>Fayyum</option>
            <option>Zagazig</option><option>Aswan</option>
            <option>Aswan</option><option>Damanhur</option>
            <option>al-Minya</option><option>Beni Suef</option>
            <option>Qena</option><option>Sohag</option>
            <option>Hurghada</option><option>6th of October City</option>
            <option>Shibin El Kom</option><option>Banha</option>
            <option>Kafr el-Sheikh</option><option>	Arish</option>
            <option>Mallawi</option><option>10th of Ramadan City</option>
            <option>Bilbais</option><option>Marsa Matruh</option>
            <option>Idfu</option><option>Mit Ghamr</option>
            <option>Al-Hamidiyya</option><option>Desouk</option>
            <option>Qalyub</option><option>Abu Kabir</option>
            <option>Kafr el-Dawwar</option><option>Girga</option>
            <option>Akhmim</option><option>Matareya</option>
           </select><br>-->
           <label for="p" >New Password</label>
           <input id="p" type="password" placeholder="Enter Password" class="m" ><br>
           <label for="o" >Confirm Password</label>
           <input id="o" type="password" placeholder="confirm Password" class="n" ><br>
           <label class="a">Gender</label>
           <select class="d" id="g">
            <option > Male</option>
            <option> Female </option>
           </select><br>
          <!--<input type="radio" name="gender" class="a" id="M">Male
           <input type="radio" name="gender" class="a" id="F">Female<br>
           <input type="button" value="Sign up"class="x" id="si" >-->
          <!-- <button ondblclick="myfun()"  class="x" id="si" type="submit"> Sign up </button>-->
          <!--<button  class="x" id="si" type="submit"> Sign up</button>-->
          <button onclick="myfun_1()" class="x" id="si">Sign up</button>  
          <button onclick="myfun()" class="x">Forget Password</button>     

          <!-- <input type="reset" value="Deleted" class="x"><br>-->
         
          
        </form>
        
        <script src="jquery-3.6.1.min.js"> </script>
         <script src="java1.js" language="javascript"> </script>
    </body>
</html>